PORT=4000
CORS_ORIGIN=http://localhost:5180

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings.
DATABASE_URL=postgresql://user:password@localhost:5432/erp_bd?schema=public
